/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    margin-bottom: 60px;
    background: #F0FFF0
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}

html {
    font-size: 14px;
    font-family: Candara;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-family: Candara;
        font-size: 16px;
    }
}


/*CSS NAVBAR*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Página Inicial  */
#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero {
    width: 100%;
    height: 70vh;
    background: url(../images/logo.png) top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    font-family: Candara;
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-family: Candara;
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    font-family: Candara;
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-family: Candara;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/*Secção dos Contactos*/
#about {
    background: #fff;
    padding: 83px 0
}

    #about .about-container .content {
        background: #fff;
    }

    #about .about-container .title {
        color: #333;
        font-family: Candara;
        font-weight: 700;
        font-size: 32px;
    }

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

#about .about-container p {
    line-height: 26px;
}

    #about .about-container p:last-child {
        margin-bottom: 0;
    }

#about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}

    #about .about-container .icon-box .icon {
        float: left;
        background: #fff;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #2dc997;
    }

        #about .about-container .icon-box .icon i {
            color: #2dc997;
            font-family: Candara;
            font-size: 24px;
        }

    #about .about-container .icon-box .title {
        margin-left: 80px;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: Candara;
        text-transform: uppercase;
    }

        #about .about-container .icon-box .title a {
            color: #111;
        }

    #about .about-container .icon-box .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
        font-family: Candara;
    }

/*Secções com imagens (Ultimos Trabalhos, Categorias..)*/
#team {
    text-align: center;
    background: #fff;
    padding: 70px 0;
}

    #team .member {
        text-align: center;
        margin-bottom: 20px;
    }

        #team .member .pic {
            margin-bottom: 5px;
            overflow: hidden;
            height: auto;
        }

            #team .member .pic img {
                max-width: 100%;
            }

        #team .member h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            font-family: Candara;
        }

        #team .member span {
            font-style: italic;
            display: block;
            font-size: 13px;
            font-family: Candara;
        }


/* Página Sobre a Loja  */
.about-section {
    background: url(../images/horario2.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

    .inner-container h1 {
        font-family: Candara;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 900;
    }

.text {
    font-family: Candara;
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}

/* ChatBot */

.open-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 70px;
    right: 28px;
    width: 100px;
    padding-right: 160px;
}

.closePopUp {
    display: block;
    position: fixed;
    bottom: 625px;
    right: 50px;
    z-index: 99;
    width: 30px;
    height: 100px;
    background-color: transparent;
    color: #006400;
    border: none;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 15px;
    z-index: 9;
    height: 600px;
}

#webchat {
    position: fixed;
    height: 600px;
    width: 350px;
    bottom: 65px;
    right: 15px;
    z-index: 9;
    border: 1px solid #006400
}
