<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JuFlores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header>

        @*Barra de navegação superior*@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  <img src="~/images/nome.jpg" width="150" height="50"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"> Sobre a Loja </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Trabalhos"> Últimos Trabalhos  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categorias"> Categorias </a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - JuFlores
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @*Secção dos Contactos*@
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    @*PORQUE É QUE OS ICONS NÃO APARECEM?*@
                    <h2 class="title"> Contacte-me   </h2>
                    <p> Vêm conhecer-me! </p>
                    <p> Entra em contacto para saberes mais informações </p>
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-map-marker" style="font-size:24px"></i></div>
                        <h4 class="title">Morada</h4>
                        <p class="description"> Largo do Rossio, Atalaia, Vila Nova da Barquinha </p>
                    </div>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-phone" style="font-size:24px"></i></div>
                        <h4 class="title">Contacto Telefónico  </h4>
                        <p class="description"> 969 *** ***</p>
                    </div>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-instagram" style="font-size:24px"></i></div>
                        <h4 class="title"> Instagram</h4>
                        <p class="description"> juflores.atalaia </p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
                    <img src="~/images/flores.jpg" width="600" height="600">

                </div>
            </div>
        </div>
    </section>

    @*ChatBot*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block"; //função para abrir o chat bot
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none"; //função para fechar o chat bot
        }
    </script>
    <button onclick="openForm()" class="open-button"><img src="~/images/bot.png" /></button>--> @*botão com a mascote do IPT para abrir*@
    <div id="myForm" class="chat-popup">
        -->
        @* form onde está o chatbot *@
        <div>
            <div id="webchat" role="main"></div>
        </div>
        <div id="myForm" class="chat-popup">


            <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
            <script>

                const styleOptions = {   //personalização do chatBot
                    // Add styleOptions to customize web chat canvas
                    hideUploadButton: true,
                    botAvatarInitials: 'BT',
                    accent: '#00809d',
                    botAvatarBackgroundColor: "#F0FFF0",
                    botAvatarImage: 'https://thumbs.dreamstime.com/b/%C3%ADcone-dos-desenhos-animados-da-mulher-projeto-da-pessoa-gr%C3%A1fico-de-vetor-73696512.jpg',
                    backgroundColor: "#e3f8e3",

                };

                // Add your BOT ID below
                var BOT_ID = "655009a1-93e0-40bf-aabd-758d31530853";

                var theURL = "https://powerva.microsoft.com/api/botmanagement/v1/directline/directlinetoken?botId=" + BOT_ID;

                const store = window.WebChat.createStore(
                    {},
                    ({ dispatch }) => next => action => {
                        if (action.type === "DIRECT_LINE/CONNECT_FULFILLED") {
                            dispatch({
                                meta: {
                                    method: "keyboard",
                                },
                                payload: {
                                    activity: {
                                        channelData: {
                                            postBack: true,
                                        },
                                        //Web Chat will show the 'Greeting' System Topic message which has a trigger-phrase 'hello'
                                        name: 'startConversation',
                                        type: "event"
                                    },
                                },
                                type: "DIRECT_LINE/POST_ACTIVITY",
                            });
                        }
                        return next(action);
                    }
                );
                fetch(theURL)
                    .then(response => response.json())
                    .then(conversationInfo => {
                        window.WebChat.renderWebChat(
                            {
                                directLine: window.WebChat.createDirectLine({
                                    token: conversationInfo.token,
                                }),
                                store: store,
                                styleOptions: styleOptions
                            },
                            document.getElementById('webchat')
                        );
                    })
                    .catch(err => console.error("An error occurred: " + err));


            </script>

        </div>

        <div>
            <button onclick="closeForm()" class="closePopUp">Fechar</button>
        </div>
    </div>



</body>
</html>
