<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JuFlores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <style>


            /* Style inputs */
            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }

            input[type=submit] {
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                cursor: pointer;
            }



            /* Style the container/contact section */

            /* Create two columns that float next to eachother */
            .column {
                float: left;
                width: 50%;
                margin-top: 6px;
                padding: 20px;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  <img src="~/images/nome.jpg" width="150" height="50"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"> Sobre Nós </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - JuFlores
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title"> Contacte-me   </h2>
                    <p> Vêm conhecer-me! </p>
                    <p> Entra em contacto para saberes mais informações </p>
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-map-marker" style="font-size:24px"></i></div>
                        <h4 class="title">Morada</h4>
                        <p class="description"> Largo do Rossio, Atalaia, Vila Nova da Barquinha </p>
                    </div>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-phone" style="font-size:24px"></i></div>
                        <h4 class="title">Contacto Telefónico  </h4>
                        <p class="description"> 969 *** ***</p>
                    </div>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-instagram" style="font-size:24px"></i></div>
                        <h4 class="title"> Instagram</h4>
                        <p class="description"> juflores.atalaia </p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
                    <img src="~/images/flores.jpg" width="600" height="600">
                </div>

            </div>
            <section>

                <div>

                    <div>
                        <h2> Esclareça aqui as suas dúvidas  </h2>
                        <div>
                            <form>
                                <label for="fname">Primeiro Nome</label>
                                <input type="text" id="fname" name="firstname" placeholder="Insere aqui o teu nome... ">
                                <label for="lname"> Último Nome </label>
                                <input type="text" id="lname" name="lastname" placeholder="Insere aqui o teu último nome...">
                                <label for="country">Telemóvel</label>
                                <input type="text" id="lname" name="lastname" placeholder="Insere aqui o teu contacto...">
                                <label for="subject">Assunto</label>
                                <textarea id="subject" name="subject" placeholder="Escreva aqui..." style="height:170px"></textarea>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </section>
   
</body>
</html>
