@{
    ViewData["Title"] = "Categorias";
}

@*FALTA ADICIONAR FOTOS REALACIONADAS*@

@*Página de Categorias*@

<link rel="stylesheet" href="~/css/site.css" />
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Aniversários </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Amor & Romance </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Dia da Mãe / Avó </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Dia do Pai / Avô </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Dia da Mulher </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Eventos</h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">
                Rápidas Melhoras
            </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">
                Funerais
            </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                </div>
            </div>
        </div>
    </div>
</section>