@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <h1 class="display-4"> JuFlores </h1>
        <h2> Arranjos Florais e Decoração</h2>
        </div>
</section>
   