@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <h1 class="display-4"> JuFlores </h1>
        <h2> Arranjos Florais e Decoração</h2>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Últimos Trabalhos  <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h3>
            <p class="section-description"></p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4> Para Ocasiões Especiais </h4>
                    <span> Preço: *€ </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4> Rosas</h4>
                    <span> Preço: *€ </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4>Flores Artificiais</h4>
                    <span>Preço: *€</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4>Para Homenagear Alguém </h4>
                    <span>Preço: *€</span>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Ocasiões Especiais  </h3>
            <p class="section-description"></p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca1.jpg" alt="" style="border-radius: 10%" ></div>
                    <h4> Aniversários <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca2.jpg" alt="" style="border-radius: 10%" ></div>
                    <h4> Amor & Romance   <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca3.jpg" alt="" style="border-radius: 10%"></div>
                    <h4>Dia da Mãe / Avó <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i>  </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca4.jpg" alt="" style="border-radius: 10%"></div>
                    <h4> Dia do Pai / Avô <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                </div>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca5.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Dia da Mulher  <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca6.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Baptizado   <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca7.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Rápidas Melhoras <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i>  </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca8.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Funeral <i class="fa fa-arrow-circle-right" style="font-size:24px "> </i> </h4>
                    </div>
                </div>
</section>