@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-container">
     
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Últimos Trabalhos  <a asp-area="" asp-controller="Home" asp-action="Trabalhos">  <i class="fa fa-arrow-circle-right" style="font-size: 24px "> </i> </a>  </h3>
            <p class="section-description">  </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov1.jpg" alt=""></div>
                    <h4> Para Ocasiões Especiais <a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                    <span> Preço: *€ </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov2.jpg" alt=""></div>
                    <h4>Rosas<a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                    <span> Preço: *€ </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov3.jpg" alt=""></div>
                    <h4> Flores Artificiais <a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                    <span>Preço: *€</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/nov4.jpg" alt=""></div>
                    <h4> Homeneager Alguém <a asp-area="" asp-controller="Home" asp-action="Favoritos">  <i class="fa fa-star" aria-hidden="true"></i>  </a> </h4>
                    <span>Preço: *€</span>
                </div>
            </div>
        </div>
    </div>
</section>
<p>  </p>
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Ocasiões Especiais  <a asp-area="" asp-controller="Home" asp-action="Categorias">  <i class="fa fa-arrow-circle-right" style="font-size: 24px "> </i> </a>  </h3>
            <p class="section-description"></p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca1.jpg" alt="" style="border-radius: 10%"></div>
                    <h4> Aniversários </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca2.jpg" alt="" style="border-radius: 10%"></div>
                    <h4> Amor & Romance  </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca3.jpg" alt="" style="border-radius: 10%"></div>
                    <h4>Dia da Mãe / Avó </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/oca4.jpg" alt="" style="border-radius: 10%"></div>
                    <h4> Dia do Pai / Avô  </h4>
                </div>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca5.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Dia da Mulher  </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca6.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Casamento  </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca7.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Rápidas Melhoras  </h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="~/images/oca8.jpg" alt="" style="border-radius: 10%"></div>
                        <h4> Funeral </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
