@{
    ViewData["Title"] = "Sobre a Loja";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="about-section">
    <div class="inner-container">
        <h1>Sobre...</h1>
        <p class="text">
            Florista á 17 anos em Atalaia, Vila Nova da Barquinha. Paixão por arranjos florais e decoração ♥
        </p>
        <div class="skills">
            <span>PAIXÃO </span>
            <span>DEDICAÇÃO</span>
            <span>CONFIANÇA</span>
        </div>
    </div>
</div>