@{
    ViewData["Title"] = "Últimos Trabalhos";
    List<ArtigosFotos> fotosArtigo = (List<ArtigosFotos>)ViewData["FotosArtigo"];
}
<link rel="stylesheet" href="~/css/site.css" />



@model Artigos

<h1>Últimos Trabalhos</h1>

<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title"> Últimos Trabalhos... </h3>
            <p class="section-description"> Alguns dos meus últimos trabalhos, para todos os gostos ♥ </p>
        </div>
        </div>
    <div class="row">
        @foreach (Artigos artigo in ViewBag.Artigos)
        {
            var foto = fotosArtigo.FirstOrDefault(fotoArtigo => fotoArtigo.ArtigoFk == artigo.Id);
            IEnumerable<Favoritos> artigosFavoritos = ViewBag.ArtigosFavoritos;
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="~/images/@(foto != null ? foto.Fotografia.Fotografia : "")" alt="" style="border-radius: 10%"></div>
                    <h5><a asp-action="TrabalhosDetalhe" asp-route-id="@artigo.Id">@artigo.Nome</a></h5>
                    <form asp-action="Toggle" asp-controller="Favoritos" asp-route-id=@artigo.Id>
                        <button type="submit" value="Fav" style="padding: 0; border: none; background: none;"><i class="fa @(artigosFavoritos.Any(current => current.ArtigoFK == artigo.Id) ? "fa-star" : "fa-star-o")" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        }
    </div>
</section>